body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#chicken {
  text-align: center;
  font-family: Georgia,sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
}

#beef {
  text-align: center;
  font-family: Georgia,sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
}

#sushi {
  text-align: center;
  font-family: Georgia,sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
  text-align: center;
}

section {
	border:	1px solid gray;
	background-color: #F0F0F0;
	width: 100%;
	height: auto;
	color: black;
	overflow: auto;
}
